useDynLib(cytofCore)
export(
    "cytofCore.read.imd",
    "cytofCore.read.conf",
    "cytofCore.write.FCS",
    "cytofCore.extract.R",
    "cytofCore.extract.native",
    "cytofCore.combineChannels",
    "cytofCore.subtract",
    "cytofCore.write.IMD.stream",
    "cytofCore.concatenateFiles",
    "cytofCore.updateFlowFrameKeywords",
    "cytofCore.applyFileCompensation",
    "cytofCore.batchFileCompensate"
)
